/* Color Theme
#151515 - Chinese Black
#0A0A0A - Vampire Black
#FBFCD4 - Light Goldenrod Yellow
#FFDD03 - Golden Yellow
#FBC403 - Golden Poppy
*/

body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    color: #0A0A0A;
}

.container {
    width: 75vw;
    padding-top: 20px;
    background-color: #FBFCD4;
    height: 100vh;
    margin: 0 auto;
}

.jumbo {
    color: #0A0A0A;
    text-align: center;
    margin-top: 100px;
    font-family: Ubuntu;
    font-weight: 200;
}

.about {
    font-family: Ubuntu;
    letter-spacing: .2em;
    padding: 100px 0px 0px 13vw;
}

.login {
    margin: 0 auto;
    width: 12vw;
}

#loginButton {
    width: 13vw;
    margin-top: 50px;
    text-align: center;
}

#loginButton button {
    background-color: rgb(234, 235, 178);
    color: black;
    width: 170px;
    font-family: Ubuntu;
    letter-spacing: .4em;
    padding: 15px 15px;
    outline: none;
    border: 0px none;
    border-bottom: 2px solid #0A0A0A;
    transition: 220ms;
    font-weight: bold;
}

#loginButton button:hover {
    background-color: #0A0A0A;
    color: #FFDD03;
    cursor: pointer;
    transition: 100ms;
}

#formLink {
    text-align: center;
    width: 10vw;
    margin: 0 auto;
    padding-left: 1.3em;
}

#formLink a {
    text-decoration: none;
    font-size: .9em;
    font-family: Ubuntu;
    color: #0A0A0A;
}

#formLink a:hover {
    text-decoration: none;
    color: #FBC403;
}

input {
    width: 12vw;
    color: #FBC403;
    font-family: Ubuntu;
    letter-spacing: 0.2em;
    background-color:  #FBFCD4;
    padding: 10px 10px;
    outline: none;
    border: 0px solid;
    border-bottom: 2px solid #151515;
}

.loginForm {
    width: 30vw;
    margin: 50px auto 0 auto;
    padding: 50px 0 50px 0;
    font-family: Ubuntu;
    font-weight: bold;
}

#label {
    text-align: left;

}

.loginForm h2 {
    letter-spacing: .3em;
}

.header {
    display: block;
}

.header a {
    font-family: Ubuntu;
    padding: 2px 3px 2px 3px;
    margin-right: 15px;
    float: right;
    color: #0A0A0A;
    text-decoration: none;
    text-transform: capitalize;
    font-size: .9em;
    font-weight: 400;
    transition: 220ms;
    margin-right: 45px;
    cursor: pointer;
}

.header a:hover {
    color: #FBC403;
    background-color: #0A0A0A;
    transition: 100ms;
}

#unlink {
    background-color: #FBC403;
    color: #0A0A0A;
    cursor: default;
    pointer-events: none;
}

.myTable {
    width: 80%;
    margin: 15vh auto;
    text-align: left;
    font-family: Ubuntu;
}

td {
    padding: 10px 0 10px 0;
}

.home-desc {
    width: 30%;
    margin: 15vh auto;
    font-family: Ubuntu;
    border: 2px solid black;
    padding: 20px;
}